* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetbrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

#workspaces {
    background-color: #414833;
    padding-right: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    background-color: transparent;
    color: #FEFAE0;
    border: none;
}

#workspaces button:hover {
    color: #936639;
    box-shadow: inherit;
    text-shadow: inherit;
    border: none
}

#workspaces button.urgent {
    color: red;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 5px 10px;
    color: #FEFAE0
}

#clock {
    background-color: #606c38;
}

#window {
    background-color: #283618;
    padding: 0 5px;
}

#tray {
    background-color: #414833;
}

#pulseaudio {
    background-color: #936639;
}

#pulseaudio.muted {
    background-color: #C2C5AA;
    color: #2a5c45;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#memory {
    background-color: #e1bb80;
    color: #333D29;
}

#cpu {
    background-color: #283618;
}

#backlight {
    background-color: #B6AD90;
    color: #333D29;
}

#battery {
    background-color: #414833;
}

#network {
    background-color: #ede0d4;
    color: #414833;
}

#network.disconnected {
    background-color: #f53c3c;
}

